.paginationButtons {
  width: 80%;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 15px;
}

.paginationButtons a {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
  border: 1px solid #f47920;
  color: #f47920;
}

.paginationButtons a:hover {
  color: white;
  background-color: #f47920;
}

.paginationActive a {
  color: white;
  background-color: #f47920;
}
